*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

.main-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}